.mc-effect1 {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
  }
  &:hover{
    &:before{
      top: 20px;
      left: 20px;
      bottom: 20px;
      right: 20px;
      border: 1px solid #fff;
    }
  }
}